# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# private files
/figures
/Result_*
/.ipynb_checkpoints
Statistics.ipynb
Trope annotation tool document v2.docx
Trope annotation tool document v2.pdf
Trope annotation tool document.docx
Trope annotation tool document.pdf
# add in 20200117
trope-annotation-firebase-adminsdk-rdbls-1b8ab39545.json
DataCheck_20200117.ipynb

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
