#multimodal_paper {
    position: fixed;
    width:100%;
    height: 100%;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
    #paper_container {
        /* position: fixed; */
        display: flex;
        width: 90%;
        height: 90%;
        background-color: rgba(219, 188, 175, 0.97);
        border-radius: 8px;
        flex-direction: column;
        align-items: center;
    }
        #paper_container_row1 {
            display: flex;
            width: 100%;
            height: 10%;
            margin: 5px;
            /* background-color: yellow; */
            -webkit-box-pack: center;
            justify-content: left;
            -webkit-box-align: center;
            align-items: center;
            /* align-content: space-around; */
            font-size: large;
            font-family: 'Comfortaa', cursive;
        }
            #paper_container_row1_title {
                width: 60%;
                height: 100%;
                padding-left: 30px;
                /* background-color: forestgreen; */
            }
            #modal_btn_group {
                display: flex;
                flex-direction: row;
            }
                .modal_btn {
                    width: 150px;
                    height: 50px;
                    margin: 10px;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    border-radius: 8px;
                    background-color: rgb(246, 160, 160);
                }
                .modal_btn_chosen {
                    width: 150px;
                    height: 50px;
                    margin: 10px;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    border-radius: 8px;
                    background-color: rgb(250, 133, 133);
                }
                .modal_btn_chosen:hover {
                    width: 150px;
                    height: 50px;
                    margin: 10px;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    border-radius: 8px;
                    background-color: rgb(250, 133, 133);
                    cursor: pointer;
                }
                .modal_btn:hover {
                    width: 150px;
                    height: 50px;
                    margin: 10px;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    border-radius: 8px;
                    background-color: rgb(250, 133, 133);
                    cursor: pointer;
                }
        #paper_container_row2 {
            display: flex;
            width: 100%;
            height: 90%;
            margin-top: 10px;
            /* background-color: red; */
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
        }
            #paper_container_row2_content {
                display: flex;
                width: 60%;
                height: 100%;
                margin-left:5px;
                margin-right: 15px;
                padding-top: 40px;
                flex-direction: column;
                /* background-color: blue; */
                overflow-x: hidden;
                overflow-y: scroll;
            }
            #paper_container_row2_trope_group {
                display: flex;
                width: 20%;
                height: 90%;
                margin-right: 5px;
                flex-direction: column;
                border: 3px solid rgb(245, 122, 122);
                border-radius: 8px;
                padding: 4px;
                /* background-color: green; */
                /* -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center; */
                align-items: center;
                overflow-x: hidden;
                overflow-y: scroll;
            }
                .paper_container_row2_trope_box {
                    display: flex;
                    flex-direction: column;
                    width: 95%;
                    height: 40px;
                    margin: 5px;
                    background-color: rgb(197, 170, 121);
                    border-radius: 4px;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                }
                .paper_container_row2_trope_box_chosen {
                    display: flex;
                    flex-direction: column;
                    width: 95%;
                    height: 40px;
                    margin: 5px;
                    background-color: rgb(194, 149, 65);
                    border-radius: 4px;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    cursor: pointer;
                }
                .paper_container_row2_trope_box:hover {
                    display: flex;
                    flex-direction: column;
                    width: 95%;
                    height: 40px;
                    margin: 5px;
                    background-color: rgb(197, 160, 91);
                    border-radius: 4px;
                    -webkit-box-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    cursor: pointer;
                }
                
